body {
  background-color: #2a2a2a;
  color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica,
    sans-serif;
  font-size: 14px;
  text-align: center;
}

#connected-header,
#disconnected-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
